* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url(../assets/font/RobotoSlab-Light.ttf);
}

body {
    font-family: 'RobotoSlab';
    background-color: #2C2D33;
}


.logo {
    cursor: pointer;
    margin-right: auto;
}

li, a {
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    color: white;
}

h1 {
    color: white;
    text-align: center;
    font-size: 25px;
}

h2 {
    color: white;
    font-size: 20px;
    margin: 25px 25px;
}

h3 {
    color: white;
    font-size: 18px;
    margin: 15px 0;
}

p {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin: 20px 20px;
}

.footer__heading {
    list-style: none;
}

.footer__heading li {
    margin-right: 50px;
}


.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

/*Hasta acá diseño general principal*/

/*Diseños particulares de Index */

.container1 {
    padding: 10px;
}

.container1__gridImage {
    max-width: 100%;
}

.container1__gridSubtitulo {
    text-align: center;
}

.imgCarousel {
    max-width: 100%;
    margin: auto;
}


/*Diseños particulares de Proyectos*/

.container3__gridSubtitulo1 {
    text-align: left;
}

.container3__card:hover {
    transform: scale(1.05);
    transition: all 1s;
}

.container4__gridSubtitulo2 {
    text-align: left;
}

.container4__card:hover {
    transform: scale(1.05);
    transition: all 1s;
}

.card__position {
    justify-content: center;
    width: 100%;
}

.card__title {
    text-align: center;
    color: black;
}

.p__proyectos {
    color: black;
}


/*Diseños particulares de Equipo*/
.card2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0px 80px;
}

.card2__image {
    max-width: 400px;
    align-items: left;
}

.card2__text {
    display: inline-block;
    text-align: left;
    }

.h2__equipo {
    text-align: left;
}

.p__staff {
    text-align: left;
}

/*Diseños particulares de Publicaciones*/
.card3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card3__image{
    max-width: 300px;
}

/*Diseños particulares de contacto*/
.placeholder {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0px 100px;
    padding: 0px 20px;
}

.placeholder__input {
    background-color: white;
}

