.footer__heading {
    list-style: none;

    li {
        margin-right: 50px;
    }
}

/*Iconos Redes sociales*/

.socialIcon {
    font-size: 1.3rem;
    color: white;
    transition: 0.2s;
}

.socialIcon:hover {
    opacity: 0.4;
}