* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    max-width: 350px;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-color: #2C2D33;

    h1 {
        text-align: center;
        font-size: $textTitle;
    }

    h2 {
        font-size: $textSubtitle2;
        margin: 25px 25px;
    }

    h3 {
        font-size: $textSubtitle3;
        margin: 15px 0;
    }
    p {
        text-align: center;
        font-size: $textBase;
        font-weight: 300;
        margin: 20px 20px;
    }
}

/*Diseños particulares de Index*/

.container1 {
    padding: 10px;
}

.container1__gridImage {
    max-width: 100%;
}

.container1__gridSubtitulo {
    text-align: center;
    padding-top: 20px;
}

.imgCarousel {
    max-width: 100%;
    margin: auto;
}

/*Diseños particulares de Proyectos*/


.proyectos__card:hover {
    transform: scale(1.05);
    transition: all 0.5s;
    cursor: pointer;
}

.card__position {
    justify-content: center;
    width: 100%;
}


/*Diseños particulares de Publicaciones*/

.card3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card3__image {
    max-width: 300px;
}

.card3__image:hover {
    opacity: 0.4;
    transition: all 0.5s;
}