header {
    li {
        a{
            font-weight: 400;
            font-size: $textHeader;
            color: #edf0f1;
            text-decoration: none;
        }
    }

}

.nav__links {
    list-style: none;
    
    li {
        color: white;
    }
}