@font-face {
    font-family: 'RobotoSlab';
    src: url(../assets/font/RobotoSlab-Light.ttf);
}

/*Proyectos*/

.proyectos__subtitulo {
    text-align: left;
}

@mixin mixinTexto ($color,$textAlign) {
    color: $color;
    text-align: $textAlign;
}

.card__title {
    @include mixinTexto(black,center)
}

.p__proyectos {
    color: black;
}

/*Equipo*/


.h2__equipo {
    text-align: center;
}

.p__staff {
    @extend .h2__equipo
}

.card2__text {
    text-align: left;
    display: inline-block;
}
